<mat-toolbar class="mat-accent mat-dialog-header">
    <span>{{dataDialog.titulo}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="formularioGrp" (keyup.enter)="modTipoCentro()">
        <mat-grid-list cols="12" rowHeight="56px">
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" placeholder="Nombre" type="text" [Uppercased]
                        cdkFocusInitial>
                    <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Codigo</mat-label>
                    <input matInput formControlName="codigo" placeholder="Codigo" type="text" [Uppercased]>
                    <mat-error *ngIf="formErrors.codigo">{{formErrors.codigo}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Abreviatura</mat-label>
                    <input matInput formControlName="abreviatura" placeholder="Abreviatura" type="text" [Uppercased]>
                    <mat-error *ngIf="formErrors.abreviatura">{{formErrors.abreviatura}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="descripcion" placeholder="Descripcion" type="text" [Uppercased]>
                    <mat-error *ngIf="formErrors.descripcion">{{formErrors.descripcion}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Orden</mat-label>
                    <input matInput formControlName="orden" placeholder="Orden" type="number">
                    <mat-error *ngIf="formErrors.orden">{{formErrors.orden}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="accent" type="button" (click)="modTipoCentro()" [class.spinner]="modif"
        [disabled]="modif">Guardar</button>
    <button mat-raised-button [mat-dialog-close]="">Salir</button>
</div>