<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" style="width: 200px;">
    <mat-toolbar class="logo">
      <a>
        <img class="img-responsive" src="./assets/images/icons/logo-black.png">
      </a>
    </mat-toolbar>
    <div class="span-usuario">
      <span>
        {{user.getNombres}} {{user.getApePaterno}}
        <br>
        <h4>({{user.getNomCargo}})</h4>
      </span>
    </div>
    <mat-nav-list>
      <ng-container *ngFor="let item of user.getListaFuncionalidad">
        <ng-container *ngIf="item.listaFuncionalidad.length==0">
          <a mat-list-item [routerLink]="[item.referencia]" routerLinkActive="active-list-item"
            (click)="marcarSeleccionado(item)">
            <mat-icon>{{item.imagen}}</mat-icon> {{item.titulo}}
          </a>
        </ng-container>

        <ng-container *ngIf="item.listaFuncionalidad.length>0">
          <a mat-list-item (click)="marcarSeleccionado(item)">
            <mat-icon>{{item.imagen}}</mat-icon> {{item.titulo}}
            <span class="spacer"></span>
            <mat-icon>expand_more</mat-icon>
          </a>
          <div *ngIf="item.selected">
            <ng-container *ngFor="let subitem of item.listaFuncionalidad">
              <a mat-list-item [routerLink]="[subitem.referencia]" routerLinkActive="active-list-item"
                class="mat-list-subitem">
                <span class="child-link"></span>
                {{subitem.titulo}}
              </a>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="titulo-completo">Registro Nominal Integrado de las Intervenciones del MIMP</span>
      <span class="titulo-resumen">RENI</span>

      <span class="spacer"></span>
      <button class="account" mat-button [matMenuTriggerFor]="usuario">
        <mat-icon>account_circle</mat-icon>
        {{user.getNombres}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #usuario="matMenu" xPosition="after" [overlapTrigger]="false">
        <button mat-menu-item (click)="salir()">Salir</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>