<mat-toolbar class="mat-accent mat-dialog-header">
    <span>{{dataDialog.titulo}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="formularioGrp">
        <mat-grid-list cols="12" rowHeight="56px">
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Nombre columna</mat-label>
                    <input matInput formControlName="nombre" placeholder="Nombre columna" type="text" [Uppercased]
                        cdkFocusInitial>
                    <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Tipo dato</mat-label>
                    <mat-select formControlName="tipoCampo" (selectionChange)="actualizarLongitud()">
                        <mat-option *ngIf="!listaTipoDato" disabled>
                            <div class="select-spinner">
                                <span>Cargando...</span>
                                <mat-spinner diameter="20"></mat-spinner>
                            </div>
                        </mat-option>
                        <mat-option *ngIf="listaTipoDato" value="">
                            Seleccione
                        </mat-option>
                        <mat-option *ngFor="let tipoCampo of listaTipoDato" [value]="tipoCampo">
                            {{tipoCampo.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.tipoCampo">{{formErrors.tipoCampo}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}" *ngIf="longitud">
                <mat-form-field>
                    <mat-label>Longitud</mat-label>
                    <input matInput formControlName="longitud" placeholder="Longitud" type="number">
                    <mat-error *ngIf="formErrors.longitud">{{formErrors.longitud}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}" *ngIf="escala">
                <mat-form-field>
                    <mat-label>Escala</mat-label>
                    <input matInput formControlName="escala" placeholder="Escala" type="number">
                    <mat-error *ngIf="formErrors.escala">{{formErrors.escala}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="accent" type="button" (click)="regCampoBD()" [class.spinner]="guardar"
        [disabled]="guardar">Guardar</button>
    <button mat-raised-button [mat-dialog-close]="">Salir</button>
</div>