<mat-toolbar class="mat-accent mat-dialog-header">
    <span>{{dataDialog.titulo}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="null">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="formularioGrp">
        <mat-grid-list cols="12" rowHeight="56px">
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Nombre servicio</mat-label>
                    <input matInput formControlName="nombre" placeholder="Nombre servicio" type="text" [Uppercased]
                        cdkFocusInitial>
                    <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Codigo servicio</mat-label>
                    <input matInput formControlName="codigo" placeholder="Codigo servicio" type="text" [Uppercased]>
                    <mat-error *ngIf="formErrors.codigo">{{formErrors.codigo}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Tipo centro de atencion</mat-label>
                    <mat-select formControlName="tipoCentro">
                        <mat-option *ngFor="let tipoCentro of listaTipoCentros" [value]="tipoCentro">
                            {{tipoCentro.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.tipoCentro">{{formErrors.tipoCentro}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Entidad prestadora del servicio</mat-label>
                    <input matInput formControlName="entidad" placeholder="Entidad prestadora del servicio" type="text"
                        readonly [Uppercased]>
                    <button mat-icon-button matTooltip="Buscar entidades" type="button" class="btn-icon-input"
                        color="primary" (click)="buscarEntidades()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="formErrors.entidad">{{formErrors.entidad}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Linea de intervencion del servicio</mat-label>
                    <input matInput formControlName="lineaIntervencion" placeholder="Linea de intervencion del servicio"
                        type="text" readonly [Uppercased]>
                    <button mat-icon-button matTooltip="Buscar lineas intervencion" type="button" class="btn-icon-input"
                        color="primary" (click)="buscarLineasIntervencion()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="formErrors.lineaIntervencion">{{formErrors.lineaIntervencion}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="accent" type="button" (click)="regServicio()" [class.spinner]="guardar"
        [disabled]="guardar">Guardar</button>
    <button mat-raised-button [mat-dialog-close]="">Salir</button>
</div>