.success-snackbar {
  background: #2aaf49 !important;
  color: white !important;
  font-weight: bold !important;
}

.error-snackbar {
  background: #e24d53 !important;
  color: white !important;
  font-weight: bold !important;
}

.warning-snackbar {
  background-color: orange !important;
  color: white !important;
  font-weight: bold !important;
}

.info-snackbar {
  background: #00b1ea !important;
  color: white !important;
  font-weight: bold !important;
}

.mat-simple-snackbar-action {
  color: white !important;
  font-weight: bold !important;
}
