@import "../../../../../../assets/styles/scss/views/table";

.table-container {
    max-height: 400px;
}

@include mat-table-columns(
    (
        id: (
            width: 2rem,
        ),
        codigo: (
            width: 6rem,
        ),
        nombre: (
            width: 20rem,
        ),
        orden: (
            width: 6rem,
        ),
        flgActivo: (
            width: 6rem,
        ),
        opt: (
            width: 5rem,
        ),
    )
);
