@import "../../../../../../../assets/styles/scss/views/table";

.table-container {
    max-height: 400px;
}

@include mat-table-columns(
    (
        id: (
            width: 2rem,
        ),
        codigo: (
            width: 4rem,
        ),
        nombre: (
            width: 12rem,
        ),
        nomTipCentro: (
            width: 9rem,
        ),
        nomEntidad: (
            width: 18rem,
        ),
        nomLineaIntervencion: (
            width: 8rem,
        ),
    )
);

.mat-row:hover {
    cursor: pointer;
}
