@import "../../../../../../../assets/styles/scss/views/table";

.table-container {
    max-height: 400px;
}

@include mat-table-columns(
    (
        id: (
            width: 2rem,
        ),
        nomColumna: (
            width: 15rem,
        ),
        tipoDato: (
            width: 6rem,
        ),
        longitudDato: (
            width: 4rem,
        ),
        escalaDato: (
            width: 4rem,
        ),
    )
);

.mat-row:hover {
    cursor: pointer;
}
